a,
body {
    color: #3c3c3c
}

a,
ins {
    text-decoration: none
}

ins,
mark {
    color: #000
}

a,
hr {
    padding: 0
}

button,
input,
textarea {
    font-family: Tahoma, Arial, Simsun, sans-serif
}

#ft-service-infr,
#global-footer,
#global-header,
#global-nav,
.move-down,
.swiper-container,
.swiper-wrapper {
    position: relative
}

.ui-menu,
:focus {
    outline: 0
}

.ui-menu,
ol,
ul {
    list-style: none
}

.bubble:after,
.bubble:before,
.item_bubble:after,
.item_bubble:before {
    width: 0;
    display: block;
    content: '';
    border-style: solid
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
time,
ul,
var,
video {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: 0 0
}

ins,
mark {
    background-color: #ff9
}

body {
    font: 12px/1.67em Tahoma, Arial, 'Hiragino Sans GB', Simsun, sans-serif;
    min-width: 1220px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    background: 0 0
}

mark {
    font-weight: 700;
    font-style: italic
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    cursor: help;
    border-bottom: 1px dotted
}

#global-topbar .dropdown,
.swiper-active-switch,
.swiper-pagination-switch,
.swiper-visible-switch,
button {
    cursor: pointer
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #ccc
}

input,
select {
    vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

b[itemprop=currency] {
    font-family: verdana
}

input,
textarea {
    font-size: 12px;
    color: #999
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ccc
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc
}

::-moz-selection {
    color: #fff;
    background: #e61c37;
    text-shadow: none
}

::selection {
    color: #fff;
    background: #e61c37;
    text-shadow: none
}

.clearfix {
    zoom: 1
}

.clearfix:after,
.clearfix:before {
    display: block;
    overflow: hidden;
    height: 0;
    content: '\0020'
}

.clearfix:after {
    clear: both
}

.swiper-container {
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-wrapper {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-property: 0 left, top;
    -moz-transition-property: 0 left, top;
    -ms-transition-property: 0 left, top;
    -o-transition-property: 0 left, top;
    transition-property: transform, left, top;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-free-mode>.swiper-wrapper {
    margin: 0 auto;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-slide {
    float: left
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x
}
.swiper-pagination-switch,
.swiper-active-switch,
.swiper-visible-switch {
	cursor: pointer;
}

#footer a {
    text-decoration: none;
}