/*顶部联系方式*/
.top-tips {
    background: #282236;
    color: #FFF;
}

.top-tips ul {
    overflow: hidden;
    margin-top: 8px;
}

.top-tips li {
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.top-li-split {
    width: 1px;
    margin: 0 30px;
}

.top-tips li img {
    margin-right: 18px;
}

.navbar-nav {
    margin: 9.5px -15px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

/*顶部菜单*/
.index_top {
    background: url(../webimages/index_logo_03.png) repeat;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 100%;
}

.top-nav {
    background: #FFF;
    margin-bottom: 0;
    /* z-index: 999; */
}

/* .top-nav .nav-ul {
	margin-top: 10px;
} */
.top-nav li {
    padding: 20px 0 20px;
    margin: 0 12px;
    text-align: center;
}

.top-nav .nav-ul a {
    font-size: 14px;
    border-bottom: 1px solid transparent;
    width: 70px;
    padding-left: 0;
    padding-right: 0;
}

/*顶部logo图*/
.navbar-brand {
    display: flex;
    width: 100%;
}

.navbar-brand img {
    margin-top: -14px;
    min-height: 101px;
    min-width: 435px;
    display: block;
}

/*顶部菜单a活动状态*/
.top-nav .nav-ul a:hover {
    color: #ff9c00 !important;
    border-bottom: 1px solid #ff9c00;
}

.top-nav a.active-sty {
    color: #ff9c00 !important;
    border-bottom: 1px solid #ff9c00;
}

/*小屏按钮*/
.top-nav .btn-list {
    background: #4e4a49;
}

/* 轮播 */
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
    height: 720px;
}

/*+++++++++++++++++++++++++++内容区+++++++++++++++++++++++++++++*/
/* .zoomImg{
     width:100%; 
     height: 360px; 
     position:relative; 
     z-index:1; 
     overflow:hidden;
    } */
.index_oneBox dl {
    width: 1100px;
    margin: 0px auto;
    display: block;
}

.index_oneBt dl {
    width: 1100px;
    margin: 0px auto;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
}

.index_oneBox dl dt {
    float: left;
    width: 50%;
    position: relative;
    z-index: 1;
    padding-top: 25px;
}

.index_oneBt dl dd p a {
    font-size: 16px;
    color: #999
}

.index_oneBt dl dd h3 a {
    font-size: 22px;
}

.index_oneBox {
    padding-top: 40px;
}

.index_oneBox dl dt ul li {
    float: left;
    height: 55px;
    width: 110px;
    margin-right: 10px;
    display: inline;
    position: relative;
    z-index: 1;
    /* background:url(../webimages/pic_img_05.jpg) no-repeat left top;  */
    overflow: hidden;
}

.index_oneBox dl dt ul li a {
    font-size: 14px;
    display: inline-block;
    padding-left: 53px;
    height: 55px;
}

.index_oneBox dl dt ul {
    border-bottom: 1px solid #e1dfdf;
    padding-bottom: 30px;
}

.svg_move img {
    width: 482px;
    height: 330px;
}

.index_oneBox dl dt h3.oneH3 {
    font-size: 16px;
    padding: 35px 0px 30px;
}

.index_oneBox dl dt p {
    font-size: 13px;
}

.index_Star {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
}

.index_Star .zoomImg img {
    width: 100%;
    height: 360px;
}

.index_Star dl {
    width: 1100px;
    margin: 0px auto;
    padding-top: 60px;
}

.index_Star dl dt {
    float: left;
    width: 655px;
    position: relative;
    z-index: 1;
}

.index_Star dl dt h3.starH3 {
    font-size: 16px;
    border-bottom: 1px solid #e1dfdf;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}

.index_Idc ul {
    width: 1100px;
    margin: 0px auto;
    padding-top: 26px;
    background: url(../webimages/index_25.jpg) no-repeat center 90px;
}

.index_Idc ul li {
    float: right;
    width: 390px;
    text-align: right;
    height: 184px;
    position: relative;
    z-index: 1;
}

.index_coning {
    width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.index_aboutCon {
    float: left;
    width: 365px;
    margin-right: 70px;
    position: relative;
    z-index: 1;
}

.index_newsCon h3 {
    background: url(../webimages/index_btbg_03.jpg) repeat-x;
    height: 35px;
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

.index_footer dl {
    width: 1100px;
    margin: 0px auto;
}

.index_footer dl dt {
    float: left;
}

.index_footer dl dd {
    float: right;
}

.index_footer dl dt p {
    color: #d6e8c7;
}

.index_footer dl dt p a {
    color: #d6e8c7;
}

.index_footer dl dd p {
    text-align: right;
}

.index_footer dl dd p a {
    color: #d6e8c7;
    height: 14px;
    line-height: normal;
    line-height: 14px;
    padding: 0px 2x;
}

/*++++++++++++++++++++++public end++++++++++++++++++*/


/*++++++++++++++++++++++中屏++++++++++++++++++++++++*/

@media only screen and (max-width: 1170px) {}

/*++++++++++++++++++++++++++小屏++++++++++++++++++++++*/
@media only screen and (max-width: 992px) {}

/*++++++++++++++++++++++超小屏++++++++++++++++++++++*/
@media only screen and (max-width: 768px) {

    /* 联系电话 */
    .index_topCon dl dt {
        float: left;
        background: url(../webimages/index_03.jpg) no-repeat 0px 10px;
        font-size: 20px;
        color: #f78b26;
        padding-left: 30px;
        height: 40px;
    }

    .index_topCon dl dt {
        float: left;
        background: url(../webimages/index_03.jpg) no-repeat 0px 10px;
        font-size: 20px;
        color: #f78b26;
        padding-left: 25px;
        height: 40px;
    }

    .index_topCon dl dt {
        float: left;
        background: url(../webimages/index_03.jpg) no-repeat 0px 10px;
        font-size: 20px;
        color: #f78b26;
        padding-left: 25px;
        padding-top: 4px;
    }

    /* logo */
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
    }

    .navbar-brand img {
        margin-top: auto;
        min-height: 50.5px;
        min-width: 217.5px;
        display: block;
    }

    .navbar-brand {
        float: left;
        width: 10rem;
        padding: 4px 15px;
        font-size: 18px;
        line-height: 48px;
    }

    /*顶部 菜单轮播*/
    .top-nav {
        height: 70px;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 16px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .top-nav .nav-ul {
        background-color: rgba(40, 34, 54, .5);
        padding: 0;
        min-width: 100px;
        z-index: 999;
    }

    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img {
        width: 100%;
        height: 100%;
    }

    /* .top-nav .nav-ul li {
		padding-bottom: 10px;
	} */
    .top-nav .nav-ul a {
        color: #FFF !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* .zoomImg img{
        width: 100%;
        height: 100%;
    } */
    .index_oneBox dl {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .index_oneBox dl dt {
        float: left;
        width: 100%;
        position: relative;
        z-index: 1;
        padding-top: 25px;
    }

    .index_oneBt dl {
        width: 100%;
        margin: 0px auto;
        padding: 35px 0px;
        display: flex;
        justify-content: space-between;
    }

    .index_oneBt dl dd p {
        padding: 4px;
    }

    .index_oneBt dl dd p a {
        font-size: 8px;
        color: #999;
    }

    .index_oneBt dl dd h3 a {
        font-size: 20px;
    }

    .index_oneBox {
        padding-top: 0;
    }

    .index_oneBox dl dt ul li {
        float: right;
        height: 55px;
        width: 80px;
        text-align: center;
        display: inline;
        position: relative;
        z-index: 1;
        /* background: url(../webimages/pic_img_05.jpg) no-repeat left top; */
        overflow: hidden;
    }

    .index_oneBox dl dt ul li a {
        font-size: 14px;
        display: inline-block;
        padding-left: 0;
        height: 55px;
    }

    .index_oneBox dl dt ul {
        border-bottom: 0px solid transparent;
        padding-bottom: 0;
    }

    .index_oneBox dl dt h3.oneH3 {
        font-size: 22px;
        padding: 0px 14px 0px;
    }

    .index_oneBox dl dt p {
        font-size: 13px;
        padding: 20px;
    }

    .index_Star {
        position: relative;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        margin: 10px 0px;
    }

    .zoomImg img {
        width: 100%;
        height: 100%;
    }

    .index_Star .zoomImg img {
        width: 100%;
        height: 100%;
    }

    .index_Star dl dt h3.starH3 {
        font-size: 16px;
        border-bottom: 0px solid #e1dfdf;
        padding-bottom: 30px;
        margin-bottom: 30px;
        font-size: 22px;
        padding: 0px 14px 0px;
    }

    .index_Star dl {
        width: 100%;
        margin: 0px auto;
        padding-top: 16px;
    }

    .index_Star dl dt {
        float: left;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .index_Star dl dt p {
        padding: 10px;
    }

    .index_Idc ul {
        width: 100%;
        margin: 0px auto;
        padding-top: 26px;
        background: none;
    }

    .index_Idc ul li {
        float: right;
        width: 390px;
        text-align: right;
        height: 184px;
        position: relative;
        z-index: 1;
        padding: 20px;
    }

    .index_coning {
        width: 100%;
        margin: 0px auto;
        flex-direction: column;
    }

    .index_newsCon h3 {
        background: none;
        height: 35px;
        font-size: 18px;
        color: #333;
        margin-bottom: 25px;
    }

    /* 底部 */
    .index_footer dl {
        width: 100%;
        margin: 0px auto;
    }

    .index_footer dl dt {
        float: none;
        text-align: center;
    }

    .index_footer dl dd {
        float: none;
        text-align: center;
    }

    .index_footer dl dd p {
        text-align: center;
    }
}